*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    

}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: white;
    padding-bottom: 60px;
    position: relative;
    bottom: 15px;
    
}

.container form{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 600px;
    display: flex;
    flex-direction: column;
}

.container form label {
    margin-top: 15px;
    margin-bottom: 5px;
}

.container form input,
.container form button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pay:hover {
    background-color: #df6f2e;
    
}